@import "../../styles/variables";

.list {
  margin-bottom: 80px;
}

.product {
  align-items: center;
  background: $grey-background;
  border-radius: 6px;
  display: grid;
  grid-gap: 60px;
  grid-template-columns: 150px 1fr auto auto auto;
  padding: 30px;

  & + & {
    margin-top: 20px;
  }
}

.preview {
  height: 150px;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.name {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.controls {
  align-items: center;
  background: $white;
  border: 1px solid $grey;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.minus {
  background: url("/img/minus.svg") no-repeat center;
  background-size: 16px;
  border: none;
  height: 30px;
  width: 30px;
}

.plus {
  background: url("/img/plus.svg") no-repeat center;
  background-size: 16px;
  border: none;
  height: 30px;
  width: 30px;
}

.count {
  font-size: 18px;
  font-weight: 500;
  padding: 0 10px;
  text-align: center;
  width: 40px;
}

.price {
  font-size: 18px;
  font-weight: 500;
  width: 150px;
}

.delete {
  background: url("/img/delete.svg") no-repeat center;
  background-size: contain;
  border: none;
  height: 25px;
  width: 25px;
}

.empty {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 40px 0 80px;

  picture {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  h1 {
    color: $black-text;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-top: 60px;
    text-align: center;
  }

  p {
    color: $black-text;
    font-size: 14px;
    line-height: 18px;
    margin-top: 16px;
    text-align: center;

    a {
      color: $blue;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  p + p {
    margin-top: 4px;
  }
}

@media screen and (max-width: 960px) {
  .list {
    margin-bottom: 60px;
  }

  .product {
    grid-gap: 30px;
    grid-template-columns: auto 1fr auto;
  }

  .preview {
    height: 100px;
  }

  .name {
    grid-column: 2 / 4;
  }

  .empty {
    margin: 30px 0 60px;

    h1 {
      margin-top: 40px;
    }
  }
}

@media screen and (max-width: 640px) {
  .list {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  .list {
    margin-bottom: 20px;
  }

  .product {
    grid-gap: 20px;
    padding: 20px;
  }

  .preview {
    height: 80px;
  }

  .name, .count, .price {
    font-size: 14px;
    line-height: 16px;
  }

  .count {
    width: 35px;
  }

  .minus, .plus {
    background-size: 16px;
    height: 25px;
    width: 25px;
  }

  .price {
    width: fit-content;
  }

  .delete {
    height: 20px;
    width: 20px;
  }

  .empty {
    h1 {
      font-size: 18px;
      line-height: 22px;
      margin-top: 20px;
    }

    p {
      font-size: 12px;
      line-height: 15px;
      margin-top: 10px;
    }
  }
}