@import "../../assets/styles/variables.scss";

.blue {
  background: $blue;
  border: none;
  border-radius: 100px;
  color: $white;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 15px 35px;
  transition: .3s;

  &:hover {
    background: $button;
  }
}

.white {
  background: $white;
  border: none;
  border-radius: 100px;
  color: $black-text;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 15px 32px;
  transition: .3s;

  &:hover {
    background: $button-grey;
  }
}

.transparent {
  background: none;
  border: 1px solid $white;
  border-radius: 100px;
  color: $white;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition: .3s;

  &:hover {
    background: $button-grey;
    border: 1px solid $button-grey;
    color: $black-text;
  }
}

.grey {
  background: $grey-background;
  border: none;
  border-radius: 100px;
  color: $black-text;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 15px 38px;
  transition: .3s;

  &:hover {
    background: $button-grey;
  }
}