@import "../../styles/variables";

.section {
  margin: 60px 0;
}

.container {
  max-width: 334px;
}

.h1 {
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.control {
  width: 100%;

  & + & {
    margin-top: 20px;
  }
}

.input {
  font-family: inherit;
  width: 100%;

  & + & {
    margin-top: 20px;
  }

  &::after {
    border-bottom: 2px solid $blue !important;
  }

  &.error::before {
    border-bottom: 1px solid $red;
  }

  &.error::after {
    border-bottom: 2px solid $red;
  }
}

.captcha {
  margin-top: 20px;

  &.error {
    border: 2px solid $red;
  }
}

.btn {
  margin-top: 20px;
  width: 100%;
}