@import "../../assets/styles/variables.scss";

.card {
  background: #FFFFFF;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin-right: 4px;
  overflow: hidden;
  padding: 50px;
  height: 352px;
  width: 475px;
}

.name {
  color: $black-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
}

.nameSkeleton {
  height: 22px !important;
  width: 200px;
}

.surname {
  display: block;
  font-size: 16px;
  font-weight: 700;
}

.surnameSkeleton {
  height: 26px !important;
  width: 100px;
}

.date {
  display: block;
  font-size: 14px;
  line-height: 160%;
  margin-top: 14px;
}

.dateSkeleton {
  margin-top: 14px !important;
  height: 22px !important;
  width: 80px;
}

.text {
  color: $black-text;
  font-size: 14px;
  line-height: 17px;
  margin-top: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  max-height: 68px;
}

.textSkeleton {
  height: 20px !important;

  &:nth-child(3) {
    margin-top: 18px !important;
  }

  &:nth-child(6) {
    width: 60%;
  }

  & + & {
    margin-top: -6px !important;
  }
}

.readBtn {
  margin-top: auto;
  width: fit-content;
}

.readBtnSkeleton {
  border-radius: 100px;
  margin-top: auto;
  height: 48px !important;
  width: 130px;
}

@media screen and (max-width: 960px) {
  .card {
    padding: 40px;
    height: 327px;
    width: 468px;
  }
}

@media screen and (max-width: 640px) {
  .card {
    height: 240px;
    padding: 20px;
    width: 290px;
  }

  .date {
    margin-top: 8px;
  }

  .name {
    font-size: 12px;
    line-height: 140%;
  }

  .surname {
    font-size: 12px;
    line-height: 140%;
  }

  .date {
    font-size: 12px;
    line-height: 160%;
  }

  .text {
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;
    height: 45px;
    -webkit-line-clamp: 3;
  }

  .readBtn {
    font-size: 12px;
    line-height: 15px;
    margin-top: 35px;
  }
}