@import "../../styles/variables";

.btn {
  border-radius: 100px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  transition: .3s;
}

.blue {
  background: $blue;
  border: none;
  color: $white;

  &:hover {
    background: $button;
  }
}

.white {
  background: $white;
  border: none;
  border-radius: 100px;
  color: $black-text;

  &:hover {
    background: $button-grey;
  }
}

.transparent {
  background: none;
  border: 1px solid $white;
  color: $white;
  display: block;

  &:hover {
    background: $button-grey;
    border: 1px solid $button-grey;
    color: $black-text;
  }
}

.grey {
  background: $grey-background;
  border: none;
  color: $black-text;

  &:hover {
    background: $button-grey;
  }
}

.red {
  background: transparent;
  border: 1px solid $red;
  color: $red;

  &:hover {
    background: $red;
    color: #FFFFFF;
  }
}

@media screen and (max-width: 640px) {
  .btn {
    font-size: 12px;
    padding: 10px 20px;
  }
}