.categories {

}

.hot {
  align-items: center;
  display: grid !important;
  grid-gap: 7px;
  grid-template-columns: repeat(2, auto);

  &::before {
    background: url("../../../public/img/hot.svg") no-repeat center;
    background-size: contain;
    content: '';
    height: 18px;
    width: 14.45px;
  }
}