@import "../../assets/styles/variables.scss";

.card {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin: 0 2px;
  overflow: hidden;
  text-decoration: none;
  width: 473px;
}

.img {
  height: 242px;
  position: relative;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

.mount {
  background: linear-gradient(180deg, rgba(#000000, .25) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.promotion {
  background: $pink;
  border-radius: 100px;
  color: $red;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding: 7px 16px;
  position: absolute;
  top: 26px;
  right: 26px;
}

.info {
  background: $white;
  height: 100%;
  padding: 33px 50px 46px;

  h4 {
    color: $black-text;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}

.text {
  color: $black-text;
  display: block;
  font-size: 14px;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  max-height: 68px;
  margin-top: 15px;
}

.date {
  color: $grey-text;
  display: block;
  font-size: 14px;
  line-height: 17px;
  margin-top: 35px;
}

@media screen and (max-width: 960px) {
  .card {
    width: 466px;
  }

  .info {
    padding: 33px 40px 40px;
  }
}

@media screen and (max-width: 640px) {
  .card {
    width: 256px;
  }

  .img {
    height: 153px;
  }

  .info {
    padding: 18px 25px 25px;

    h4 {
      color: $black-text;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
    }
  }

  .text {
    font-size: 12px;
    line-height: 15px;
    height: 45px;
    -webkit-line-clamp: 3;
    margin-top: 10px;
  }

  .date {
    font-size: 12px;
    line-height: 15px;
    margin-top: 24px;
  }

  .promotion {
    font-size: 12px;
    font-weight: bold;
    padding: 6px 8px 7px;
    top: 14px;
    right: 13.29px;
  }
}