@import "../../styles/variables";

.control {
  margin: 0 !important;
}

.label {
  &:global(.Mui-focused) {
    color: $blue !important;
  }
}

.input {
  &::after {
    border-bottom: 2px solid $blue !important;
  }
}