@import "../../styles/variables";

.slider {
  position: relative;

  & :global(.slick-arrow) {
    background: rgba($white, .7);
    border: none;
    border-radius: 50%;
    font-size: 0;
    height: 45px;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
    width: 45px;
    z-index: 1;

    &:hover {
      background: rgba($grey-background, .7);
    }

    &:global(.slick-prev) {
      left: -22.5px;

      &::after {
        background: url("../../public/img/arrow_slider.svg");
        content: '';
        height: 16px;
        position: absolute;
        top: 15px;
        left: 16px;
        width: 9px;
      }
    }

    &:global(.slick-next) {
      right: -22.5px;

      &::after {
        background: url("../../public/img/arrow_slider.svg");
        content: '';
        height: 16px;
        position: absolute;
        top: 15px;
        left: 20px;
        transform: rotate(180deg);
        width: 9px;
      }
    }
  }
}

.dots {
  display: flex !important;
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);

  li {
    background: #D4DDE0;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 8px;
    opacity: .4;
    position: relative;
    width: 8px;

    &:global(.slick-active) {
      opacity: 1;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 20px;
      width: 20px;
    }
  }

  li + li {
    margin-left: 12px;
  }

  button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .dots {
    bottom: -30px;
  }
}