@import "../../styles/variables";

.product {
  background: #F3F5F7;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.image {
  height: 252px;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 10px;

  a {
    color: #000000;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
  }
}

.characteristics {
  grid-column: 1 / -1;
  margin-top: 15px;
}

.characteristic {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;

  & + & {
    margin-top: 10px;
  }

  span:first-child {
    color: #9C9A9A;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  span:last-child {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-left: 10px;
    text-align: right;
  }
}

.bottom {
  display: grid;
  grid-gap: 20px;
  grid-template: repeat(2, auto) / 1fr auto;

  span {
    align-self: flex-end;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }

  button, a {
    background: $blue;
    border-radius: 6px;
    border: none;
    display: grid;
    place-items: center;
    position: relative;
    height: 36px;
    width: 36px;
    transition: .3s;

    &:hover {
      background: $button;
    }
  }
}

.cart::after {
  background: url("../../public/img/in_cart.svg");
  content: '';
  height: 20px;
  width: 20px;
}

.update::after {
  background: url("/img/edit_white.svg");
  background: url("/img/edit_white.svg");
  content: '';
  height: 20px;
  width: 20px;
}

@media screen and (max-width: 1200px) {
  .image {
    height: calc((100vw - 30px - 120px - 18px) / 4 * 1.024);
  }
}

@media screen and (max-width: 960px) {
  .image {
    height: calc((100vw - 30px - 60px - 6px) / 2 * 1.024);
  }
}

@media screen and (max-width: 480px) {
  .image {
    height: calc((100vw - 30px - 30px) * 1.024);
  }
}