@import "../../styles/variables";

.comment {
  background: $grey-background;
  border-radius: 6px;
  margin-top: 20px;
  padding: 20px;
}

.date {
  font-size: 12px;
  color: $grey;
  margin-top: 10px;
}