.banners {
  padding-bottom: 30px;
}

.wrapper {
  position: relative;
}

.slider {
  border-radius: 6px;
}

.skeleton {
  display: block;
  height: 460px;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.dots {
  background: none;
  display: flex !important;
  position: absolute;
  right: 78px;
  bottom: 53px;
  width: fit-content;

  li:global(.slick-active) button {
    opacity: 1;
  }

  li + li {
    margin-left: 12px;
  }

  button {
    background: #FFFFFF;
    border: none;
    border-radius: 50%;
    opacity: 0.5;
    font-size: 0;
    height: 8px;
    width: 8px;
  }
}

@media screen and (max-width: 1000px) {
  .skeleton {
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .skeleton {
    height: 300px;
  }
}

@media screen and (max-width: 480px) {
  .dots {
    bottom: 30px;
    right: 30px;

    button {
      height: 6px;
      width: 6px;
    }
  }
}