@import "../../../styles/variables";

.article {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin: 0 2px;
  overflow: hidden;
  text-decoration: none;

  &:hover {
    .img img {
      filter: blur(16px);
    }

    .mount {
      filter: blur(16px);
    }

    .btn {
      opacity: 1;
    }
  }
}

.img {
  height: 242px;
  position: relative;
  border-radius: 6px;
  overflow: hidden;

  img {
    height: 100%;
    object-fit: cover;
    transition: .3s;
    width: 100%;
  }
}

.mount {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .3s;
}

.btn {
  opacity: 0;
  transition: .3s;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.promotion {
  background: $pink;
  border-radius: 100px;
  color: $red;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding: 7px 16px;
  position: absolute;
  top: 26px;
  right: 26px;
}

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.name {
  color: $black-text;
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 160%;
  margin-top: 24px;
}

.text {
  color: $black-text;
  display: block;
  flex-grow: 1;
  font-size: 14px;
  line-height: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  max-height: 68px;
  margin-top: 14px;
}

.date {
  color: $grey-text;
  display: block;
  font-size: 14px;
  line-height: 17px;
  margin-top: 35px;

  &.hot {
    color: #FF3A44;
    padding-left: 23.66px;
    position: relative;

    &::before {
      background: url('../../../public/img/hot.svg') no-repeat center;
      background-size: contain;
      content: "";
      position: absolute;
      bottom: 1px;
      left: 0;
      height: 18px;
      width: 14.18px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .img {
    height: calc((100vw - 60px - 4px) / 2 * 0.569);
  }
}

@media screen and (max-width: 640px) {
  .img {
    height: calc((100vw - 60px) * 0.569);
  }

  .text {
    font-size: 12px;
    line-height: 15px;
    max-height: 60px;
    -webkit-line-clamp: 4;
  }

  .date {
    font-size: 12px;
    line-height: 15px;
    margin-top: 24px;
  }

  .promotion {
    font-size: 12px;
    font-weight: bold;
    padding: 6px 8px 7px;
    top: 14px;
    right: 13.29px;
  }
}

@media screen and (max-width: 480px) {
  .img {
    height: calc((100vw - 12px) * 0.569);
  }

  .name {
    font-size: 14px;
    margin-top: 14px;
  }
}