@import "../../assets/styles/variables.scss";

.h1 {
  color: $black-text;
  font-weight: bold;
  font-size: 28px;
  line-height: 160%;
}

.skeleton {
  font-size: 28px;
  line-height: 160%;
  width: 200px;
}

@media screen and (max-width: 480px) {
  .h1 {
    font-size: 22px;
    line-height: 120%;
  }

  .skeleton {
    font-size: 22px;
    line-height: 120%;
  }
}