.list {
  display: grid;
  grid-column-gap: 4px;
  grid-row-gap: 44px;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 640px) {
  .list {
    grid-template-columns: 1fr;
  }
}