@import "../../assets/styles/variables.scss";

.block {
  margin: 47px 0 39px;
}

.container {
  display: flex;
  flex-wrap: wrap;

  * {
    display: block;
    color: $grey-text;
    font-size: 14px;
    line-height: 17px;
  }

  a {
    padding-right: 22px;
    position: relative;
    text-decoration: none;
    transition: .3s;

    &:hover {
      color: $blue;
    }

    &::after {
      content: '/';
      color: $grey-text !important;
      position: absolute;
      right: 10px;
    }
  }
}

.skeleton {
  width: 150px;
}

@media screen and (max-width: 960px) {
  .block {
    margin: 30px 0;
  }
}

@media screen and (max-width: 480px) {
  .block {
    display: none;
  }
}
