$red: #FF3A44;
$light-red: #FF9898;
$blue: #00A9D0;
$light-blue: #D0EDF5;
$grey-background: #F3F5F7;
$white: #FFFFFF;
$black-text: #404546;
$grey-text: #A3ACAF;
$pink: #FADFDF;
$grey: #85999F;
$outline: #D4DDE0;
$button: #19BDE2;
$button-grey: #DEE2E7;