@import "../../styles/variables";

.container {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(2, 1fr);
}

.text {
  background: #FFFFFF;
  border-radius: 6px;
  padding: 50px;

  h2 {
    color: $black-text;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
  }

  p {
    color: $black-text;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 34px;
  }
}

.slider {
  height: fit-content;
  width: 583px;

  :global(.slick-arrow) {
    top: unset;
    bottom: 32px;
    transform: none;

    &:global(.slick-prev) {
      left: calc(-100% + 36px);
    }

    &:global(.slick-next) {
      right: unset;
      left: calc(-100% + 81px);
    }
  }
}

.slide {
  border-radius: 6px;
  display: block !important;
  overflow: hidden;
  height: 432px;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .slider {
    width: calc(100vw / 2 - 32px);
  }
}

@media screen and (max-width: 768px) {
  .text {
    padding: 40px;
  }

  .slider {
    :global(.slick-arrow) {
      &:global(.slick-prev) {
        left: calc(-100% + 21px);
      }

      &:global(.slick-next) {
        right: unset;
        left: calc(-100% + 86px);
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .container {
    display: block;
  }

  .text {
    padding: 20px 20px 80px 20px;

    h2 {
      font-size: 18px;
      line-height: 22px;
    }

    p {
      font-size: 12px;
      line-height: 15px;
      margin-top: 16px;
    }
  }

  .slider {
    width: 100%;

    :global(.slick-arrow) {
      top: -60px;
      bottom: unset;

      &:global(.slick-prev) {
        left: 50%;
        transform: translateX(-100%);
      }

      &:global(.slick-next) {
        right: unset;
        left: 50%;
      }
    }
  }

  .slide {
    height: calc((100vw - 30px) * 0.741);
  }
}