.about {
  padding: 50px 0 80px;
}

@media screen and (max-width: 960px) {
  .about {
    padding: 40px 0 70px;
  }
}

@media screen and (max-width: 640px) {
  .about {
    padding: 30px 0 60px;
  }
}

@media screen and (max-width: 480px) {
  .about {
    padding: 30px 0 40px;
  }
}